/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    text-align: center; 
}

/* Container for content */
.container {
    width: 80%;
    margin: 20px auto; 
    overflow: hidden;
    padding: 40px; 
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
}

/* Header styles */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Input field styling */
input[type="text"], input[type="checkbox"], input[type="url"] {
    display: block;
    width: 95%;
    padding: 15px;
    margin: 20px auto; 
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Styling for labels */
label {
    display: block; 
    margin: 15px auto; 
    font-size: 1.2em; 
    color: #333;
}

/* Button styling */
button {
    display: block;
    width: 50%; 
    margin: 20px auto; 
    padding: 15px 0; 
    border: none;
    background-color: #5C67F2;
    color: white;
    cursor: pointer;
    border-radius: 8px; 
    font-size: 1.2em; 
}

button:hover {
    background-color: #3e47f0; 
}

/* Unordered list styles */
ul {
    list-style: none;
    padding: 0;
}
/* Provides spacing between list items */
ul li {
    background: #eee;
    margin: 5px 0; 
    padding: 10px;
    border-radius: 5px;
}

/* Enhancements for summary and questions sections */
.summary-section, .questions-section {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ddd; 
}

.summary-section h2, .questions-section h2 {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

/* Styles for question lists */
.questions-section ul {
    list-style-type: none;
    padding: 0;
}

.questions-section ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

/* Button to return to home from summary page */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5C67F2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #3e47f0;
}

/* Ensure link colors and text decoration are appealing */
a {
    color: #333;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

/* Additional responsive design elements */
@media (max-width: 768px) {
    .container {
        width: 95%; 
        padding: 10px;
    }

    button, input[type="text"], input[type="checkbox"] {
        width: 90%; 
    }

    header, .back-button {
        padding: 10px;
    }
}

/* Enhancements for checkbox */
input[type="checkbox"] {
    width: 20px;  
    height: 20px; 
    cursor: pointer; 
}


label {
    display: block; 
    margin: 10px 0; 
    font-size: 16px; 
    cursor: pointer; 
}

